<thead>
	<th>Titel
		{{sorting-buttons sorting=sorting field='title' asc=(action 'sortTitle') desc=(action 'sortTitleDesc')}}
	</th>
	<th width="150">ISBN</th>
	<th width="225">Jahrgangsstufen
		{{sorting-buttons sorting=sorting field='form' asc=(action 'sortForm') desc=(action 'sortFormDesc')}}
	</th>
	<th width="125">Aktionen</th>
</thead>
<tbody>
{{#each data as |d|}}
{{yield d}}
{{else}}
<tr><td colspan="4"><em>Keine B&uuml;cher vorhanden</em></td></tr>
{{/each}}
</tbody>
