<a class="close-reveal-modal">&#215;</a>
<h2 id="exportLendingsTitle">Ausleihen exportieren</h2>
<p>
    {{input type='checkbox' checked=eLendings}} Sonstige Ausleihen exportieren?
</p>
<p>
    <button class="button success radius"
        {{action 'submit'}}>
        Exportieren
    </button>
</p>
