{{#if showAsc}}
<button class="button tiny radius"{{action asc}}>
    <i class="fi-arrow-down"></i>
</button>
{{/if}}
{{#if showDesc}}
<button class="button tiny radius" {{action desc}}>
    <i class="fi-arrow-up"></i>
</button>
{{/if}}
