<thead>
	<tr>
		<th width="120"></th>
		<th></th>
		{{#each books as |b|}}
		<th class="rotate">
			<div>
				<span>{{b.title}}</span>
			</div>
		</th>
		{{/each}}
	</tr>
</thead>
<tbody>
	{{#each studentsExtended as |st|}}
	<tr>
		<td class="text-center">
			{{#link-to 'students.lend-base' st.student.id class='button tiny radius no-margin'}}
				<i class="fi-plus"></i>
			{{/link-to}}
			{{#link-to 'students.return-base' st.student.id class='button tiny radius no-margin'}}
				<i class="fi-minus"></i>
			{{/link-to}}
		</td>
		<td>{{link-to st.student.name 'students.show' st.student.id}}</td>
		{{#each st.baseSets as |bs|}}
		<td class="text-center">{{yield bs}}</td>
		{{/each}}
	</tr>
	{{/each}}
</tbody>
