<div class="row">
	<h1>Alle B&uuml;cher</h1>
</div>

<div class="row">
	<div class="medium-10 columns">
		<button class="button tiny info radius" {{action 'reload'}}>
			<i class="fi-refresh"></i>
		</button>
		{{#link-to 'books.new' class='button tiny success radius'}}
			<i class="fi-plus"></i>
		{{/link-to}}
		<button class="button tiny default radius" {{action 'exportAliases'}}>
			<i class="fi-page-export-csv"></i>
		</button>
	</div>
	<div class="medium-2 columns">
		{{input type='text' class='search-field radius' value=searchQuery placeholder='Suchen' autofocus=true}}
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		{{#book-list data=sortedData action=(action 'changeSorting') sorting=sorting as |b|}}
			{{book-entry book=b action=(action 'reload')}}
		{{/book-list}}
	</div>
</div>
