<div class="row">
	<h1>
		{{#link-to 'students.index' class='button default radius sort-buttons left'}}
			<i class="fi-arrow-left"></i>
		{{/link-to}}
		Ausleihen (Basissatz)
	</h1>
</div>

<div class="row">
	<div class="medium-10 medium-offset-1 columns">
		<div class="row">
			{{#isbn-list data=isbns as |isbn index|}}
				{{isbn-entry isbn=isbn index=index action=(action 'load')}}
			{{/isbn-list}}
		</div>
		<div class="row">
			<button class="button success radius" {{action 'save'}}>Ausleihen</button>
		</div>
	</div>
</div>
