<div class="row">
	<h1>Ausleihen (Basissatz)</h1>
</div>

<div class="row">
	<div class="medium-10 medium-offset-1 columns">
		<div class="row">
			{{#isbn-list data=isbns as |i l|}}
				{{isbn-entry index=i isbn=l action=(action 'load')}}
			{{/isbn-list}}
		</div>
		<div class="row">
			<button class="button success radius" {{action 'save'}}>Ausleihen</button>
			{{#if errors}}
			<small class="error">{{errors}}</small>
			{{/if}}
		</div>
	</div>
</div>