<div class="row">
	<h1>
		{{#link-to 'students.index' class='button default radius sort-buttons left'}}
			<i class="fi-arrow-left"></i>
		{{/link-to}}
		Neuer Sch&uuml;ler
	</h1>
</div>

<div class="row">
	<div class="medium-6 medium-offset-3 column">
		<div class="panel radius">
			<form {{action 'create' on='submit'}}>
				<div class="row">
					{{input type='text' placeholder='Name' value=name class='radius' autofocus=true}}
				</div>
				<div class="row">
					{{input type='text' placeholder='Klasse' value=klass class=(if klassValid 'radius' 'radius error')}}
					{{#unless klassValid}}
					<small class="error">Ung&uuml;ltige Klasse (1-2 Ziffern + 0-1 Buchstaben)</small>
					{{/unless}}
				</div>
				<div class="row">
					{{input type='submit' value='Erstellen' class=(if klassValid 'button radius' 'button radius disabled')}}
					{{#unless klassValid}}
					<small class="error">Ung&uuml;ltige Angaben</small>
					{{/unless}}
				</div>
			</form>
		</div>
	</div>
</div>
