<div class="row">
	<h1>Alle Lehrer</h1>
</div>

<div class="row">
	<div class="medium-10 columns">
		<button class="button tiny info radius" {{action 'reload'}}>
			<i class="fi-refresh"></i>
		</button>
		{{#link-to 'teachers.new' class='button tiny success radius'}}
			<i class="fi-plus"></i>
		{{/link-to}}
	</div>
	<div class="medium-2 columns">
		{{input type='text' class='search-field radius' value=searchQuery placeholder='Suchen' autofocus=true}}
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		{{#teacher-list data=sortedData sorting=sorting action=(action 'changeSorting') as |t|}}
			{{teacher-entry teacher=t action=(action 'reload')}}
		{{/teacher-list}}
	</div>
</div>
