<div class="row">
<h3>Commits des <a href="https://github.com/philip98/obsidian-web-frontend/">Frontends</a></h3>
{{#commit-list data=model.frontend as |c|}}
	{{commit-post commit=c}}
{{/commit-list}}
<h3>Commits des <a href="https://github.com/philip98/obsidian-web/">Backends</a></h3>
{{#commit-list data=model.backend as |c|}}
	{{commit-post commit=c}}
{{/commit-list}}
</div>