<div class="row">
	<h1>Login</h1>
</div>
<div class="row">
	<div class="medium-6 medium-offset-3 column">
		<div class="panel radius">
			<form {{action 'login' on='submit'}}>
				<div class="row">
					{{input type='text' value=name placeholder='Name der Schule' class='radius' autofocus=true}}
				</div>
				<div class="row">
					{{input type='password' value=password placeholder='Passwort' class=(if invalidPassword 'radius error' 'radius')}}
					{{#if invalidPassword}}
					<small class="error">Ung&uuml;ltiges Passwort</small>
					{{/if}}
				</div>
				<div class="row">
					{{input type='submit' value='Einloggen' class=(if valid 'button radius' 'button radius disabled')}}
					{{#unless valid}}
					<small class="error">Unvollst&auml;ndige Angaben</small>
					{{/unless}}
				</div>
			</form>
		</div>
	</div>
</div>
