<div class="row">
	<h1>Neuer Account</h1>
</div>

<form {{action 'register' on='submit'}}>
	<div class="row">
		{{input type='text' value=name placeholder='Name der Schule' class=(if name 'radius' 'radius error') autofocus=true}}
		{{#unless name}}
		<small class="error">Name fehlt</small>
		{{/unless}}
	</div>
	<div class="row">
		{{input type='password' value=password placeholder='Passwort' class=(if password 'radius' 'radius error')}}
		{{#unless name}}
		<small class="error">Passwort fehlt</small>
		{{/unless}}
	</div>
	<div class="row">
		{{input type='submit' value='Registrieren' class=(if valid 'button radius' 'button radius disabled')}}
		{{#unless valid}}
		<small class="error">Unvollst&auml;ndige Angaben</small>
		{{/unless}}
	</div>
</form>
